/* Basic Reset */

html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit
  font-size: 1rem

body,
h1,
h2,
h3,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
a
  margin: 0
  padding: 0

blockquote,
blockquote,
q,
q,
  &:before,
  &:after,
    content: ''
    content: none
