:root
  --headerFont: 'Veneer', sans-serif
  --bodyFont: 'Courier', serif
  --secondaryFont: 'STAMPACT'
  --white: #fff
  --black: #000
  --lt-grey: #FAFAFA
  --md-lt-grey: #F2F2F2
  --md-grey: #B2B2B2
  --md-dk-grey: #4C4C4C
  --dk-grey: #333333
  --brown:  #332118
  --brandPrimary: #f24045
